<div class="uk-flex uk-flex-center">
    <div class="uk-width-3-4">
        <h1 class="uk-heading-large uk-text-center">Welcome to sample blog!</h1>
        <p class="uk-text-large">This sample blog show you how to use oceanclouds api and back services to build an web application.</p>
        <p class="uk-text-large">This application use standard user authorize back service, weibo user authorize back service, facebook back service to register and login.</p>
        <p class="uk-text-large">This application use data persistence back service to store blog data.</p>
        <p class="uk-text-large">You can use chrome developer tools or firefox firedebug to watch the data exchange between your browser and back service. </p>
        <p class="uk-text-large">This application is a github static page.</p>
    </div>
</div>